<div class="col-md-4 mb-5">
  <h2>Contact Us</h2>
  <hr />
  <address>
    <abbr title="Email"><img src="/assets/img/socials/email.png" width="24" height="24"></abbr>
    &nbsp; <a href="mailto:enquiries@feynic.com" style="color:#0086d6;">Contact Us</a>
  </address>
  <address>
    <abbr title="Linkedin"><img src="/assets/img/socials/linkedin.png" width="24" height="24"></abbr>
    &nbsp; <a href="https://www.linkedin.com/company/feynic-tech/" style="color:#0086d6;">Linkedin</a>
  </address>
  <address>
    <abbr title="Twitter"><img src="/assets/img/socials/twitter.png" width="24" height="24"></abbr>
    &nbsp; <a href="https://twitter.com/FeynicTech" style="color:#0086d6;">Twitter</a>
  </address>
</div>
